#poststuff #ppma_boxes_editor_area .inside {
    background: #f5f6fa;
    padding: 0;
    margin-top: 0;
}

.post-type-ppma_boxes fieldset.columns-prefs,
.post-type-ppma_boxes #slugdiv.postbox,
.post-type-ppma_boxes label[for="slugdiv-hide"]  {
    display: none !important;
}

.publishpress-author-box-editor {
    display: flex;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs {
    min-width: 220px;
    margin: 0;

    line-height: 1em;
    padding: 0 0 10px;
    position: relative;
    background-color: #fafafa;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}

.ppma-author-box-editor-fields {
    min-width: 320px;
    padding: 10px;
    background: #fff;
}

.ppma-boxes-editor-tab-content {
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    height: 21px;
    line-height: 21px;
}

.ppma-boxes-editor-tab-content .label label {
    display: table-cell;
    margin-bottom: 0;
    padding-right: calc(150px + 10px);
    vertical-align: middle;
    font-size: 11px;
    color: #1d2327;
    line-height: 1.3;
    font-weight: 600;
}

.ppma-boxes-editor-tab-content .input {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
}

.ppma-boxes-editor-tab-content .input input:not([type="checkbox"]),
.ppma-boxes-editor-tab-content .input select {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 11px;
    margin: 0;
    min-height: 0;
    line-height: normal;
    color: #000;
    border-color: #ddd;
    border-radius: 0;
    padding: 2px 5px;
    width: 150px;
}

.ppma-boxes-editor-tab-content.double-input .input input.pp-editor-range {
    width: 90px;
}

.ppma-boxes-editor-tab-content.double-input .input input.pp-editor-range-input {
    width: 50px;
    margin-left: 10px;
}

.ppma-boxes-editor-tab-content.textarea .label,
.ppma-boxes-editor-tab-content.ppma-export-tab .label,
.ppma-boxes-editor-tab-content.ppma-import-tab .label,
.ppma-boxes-editor-tab-content.ppma-editor-template_action .label {
    display: none;
}


.ppma-boxes-editor-tab-content.textarea .input,
.ppma-boxes-editor-tab-content.ppma-export-tab .input,
.ppma-boxes-editor-tab-content.ppma-import-tab .input,
.ppma-boxes-editor-tab-content.ppma-editor-template_action .input {
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    height: 21px;
    line-height: 21px;
}

.ppma-boxes-editor-tab-content.textarea .input textarea,
.ppma-boxes-editor-tab-content.ppma-import-tab .input textarea,
.ppma-boxes-editor-tab-content.ppma-export-tab .input textarea,
.ppma-boxes-editor-tab-content.ppma-editor-template_action .input textarea {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-color: #ddd;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    color: #000;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none;
}

.ppma-boxes-editor-tab-content .input-area-text {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 320px;
}

.ppma-boxes-editor-tab-content ul.template-generator-instruction {
    margin-top: 0;
    margin-left: 25px;
    list-style: decimal;
}

.ppma-boxes-editor-tab-content ul.template-generator-instruction li {
    list-style: decimal;
}

.ppma-boxes-editor-tab-content .generate-template-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}

.ppma-boxes-editor-tab-content .author-editor-loading-spinner {
    float: none;
    margin-left: 0;
}

.ppma-editor-copied-to-clipboard,
.ppma-editor-data-imported,
.ppma-editor-template-generated {
    color: green;
    display: none;
}

.ppma-boxes-editor-tab-content.ppma-export-tab .title,
.ppma-boxes-editor-tab-content.ppma-import-tab .title,
.ppma-boxes-editor-tab-content.ppma-editor-template_action .title {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.ppma-boxes-editor-tab-content.double-input .input .wp-picker-container {
    position: relative;
    overflow: visible;
    transform: translateY(0);
}

.ppma-boxes-editor-tab-content .pickr {
    top: -6px;
}

.ppma-boxes-editor-tab-content .pickr .pcr-button {
    width: 150px;
    height: 21px;
    min-height: 21px;
    border: 1px solid #ddd;
    padding: 0.5em;
    transition: none 0s ease 0s;
    --pcr-color: rgba(171, 171, 171, 1);
}

.ppma-boxes-editor-tab-content .pickr .pcr-button.clear {
    background-size: 8%
}

.pcr-interaction .pcr-result {
    min-height: auto;
    line-height: 1
}

.pcr-app {
    border: 1px solid lightgrey
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul {
    padding-top: 0;
    margin-top: 0;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul li a {
    margin: 0;
    padding: 10px;
    display: block;
    box-shadow: none;
    text-decoration: none;
    line-height: 20px !important;
    border-bottom: 1px solid #eee;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul li {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul li a.active {
    color: #555;
    position: relative;
    background-color: #eee;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul li a span {
    margin-right: 0.618em;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul li a span.dashicons {
    margin-left: 0;
    font-size: 15px;
    vertical-align: sub;
}

.publishpress-author-box-editor .preview-section {
    margin-left: 10px;
    flex: 1;
}

.publishpress-author-box-editor .preview-section .preview-container {
    margin: 0;
    margin-top: 30px;
    margin-right: 10px;
    padding: 0;
}

.publishpress-author-box-editor .preview-section .preview-container .live-preview {
    position: sticky;
    top: 60px;
    padding: 20px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 1px 0 #ccd0d4, 0 1px 1px 1px rgb(0 0 0 / 4%);
}

.publishpress-author-box-editor .preview-section .preview-container .live-preview-label {
    position: absolute;
    top: -19px;
    left: -1px;
    padding: 0 6px;
    background: white;
    border: 1px solid lightgray;
    border-bottom: 0;
    font-family: consolas,'Courier New',monospace;
    font-size: 11px;
    color: #959595;
}

.publishpress-author-box-editor .pp-editor-tooltip {
    color: #000000; 
    outline: none;
    cursor: help; text-decoration: none;
    position: relative;
}

.publishpress-author-box-editor .pp-editor-tooltip span.text {
    margin-left: -999em;
    position: absolute;
    padding: 0.8em 1em;
    background: #FFFFAA; 
    border: 1px solid #FFAD33;
    color: #655997;
    line-height: 28px;
    font-size: 13px;
}

.publishpress-author-box-editor .pp-editor-tooltip:hover span.text {
    border-radius: 5px 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    position: absolute; 
    left: 1em; 
    top: 2em; 
    z-index: 99;
    margin-left: 0; 
    width: 250px;
}

#ppma_boxes_shortcode input {
    min-width: 390px;
}

@media screen and (max-width: 768px) {
    .publishpress-author-box-editor {
       display: block;
    }

    .publishpress-author-box-editor .pp-editor-tooltip:hover span.text {
        width: 200px;
    }

    #ppma_boxes_shortcode input {
        min-width: 100%;
    }
}