.author-field-icons-container .author-field-icons-tab-content {
    padding-bottom: 50px;
}

.ppma-field-icon-tabs {
    padding-left: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.author-field-icons-tab-button {
    display: inline-block;
    border: 1px solid #ccc;
    position: relative;
    padding: 10px;
    background: #f1f1f1;
    margin: 0 0 0 -1px;
    flex: 1;
    text-align: center;
    white-space: normal;
    cursor: pointer;
}

.author-field-icons-tab-button.active {
    border-color: #ccc;
    background: #ccc;
}

.author-field-icons-container .tab-content.hidden {
    display: none;
}

.author-field-icons-container .icon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(1em* 7.5), 1fr));
    grid-auto-rows: calc(1em* 7.5);
    grid-gap: 1em 1em;
    grid-auto-flow: row dense;
    justify-items: center;
    margin-bottom: calc(1em* 3);
    margin-top: calc(1em* 1.25);
}

.author-field-icons-container .icon-item {
    cursor: pointer;
    margin: 10px;
    text-align: center;
    padding: 2px;
}

.author-field-icons-container .icon-item.active,
.author-field-icons-container .icon-item:hover {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

.author-field-icons-container .icon-item i, 
.author-field-icons-container .icon-item span.dashicons {
    font-size: 24px;
}

.author-field-icons-container .icon-item span {
    display: block;
    margin-top: 5px;
    margin: 0 auto;
}

.author-field-icons-container .icon-item span.icon-element i,
.author-field-icons-container .icon-item span.icon-element span.dashicons {
    font-size: calc( 1em * 2);
    text-align: center;
    width: 1.25em;
}

.author-field-icons-container .icon-item span.icon-name {
    font-size: calc( 1em * 0.75);
    margin-top: calc(1em* 1.5);
    width: 100%;
    min-height: calc(1em* 2.125);
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    color: rgb(97 109 138);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ppma-field-icon-search {
    width: 100%;
    padding: 10px !important;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc !important;
    font-size: 16px;
    line-height: unset !important;
    border-radius: unset !important;
    font-weight: normal !important;
}

.icon-sticky-header {
    display: block;
    margin-top: 10px;
}

.popup-modal-header span.dashicons {
    vertical-align: middle;
}

#poststuff #ppma_boxes_editor_area .inside {
    background: #f5f6fa;
    padding: 0;
    margin-top: 0;
}

.pp-multiple-authors-boxes-wrapper h1,
.pp-multiple-authors-boxes-wrapper h2,
.pp-multiple-authors-boxes-wrapper h3,
.pp-multiple-authors-boxes-wrapper h4,
.pp-multiple-authors-boxes-wrapper h5,
.pp-multiple-authors-boxes-wrapper h6 {
    padding: initial !important;
}

.ppma-author-boxes-editor-table input[type=text],
.ppma-author-boxes-editor-table input[type=number],
.ppma-author-boxes-editor-table select {
    width: 95%;
}

.ppma-author-boxes-editor-table textarea {
    width: 100%;
    resize: none;
}

.ppma-author-boxes-editor-table button.wp-color-result {
    min-height: 30px !important;
    margin: 0 6px 6px 0 !important;
    padding: 0 0 0 30px !important;
    font-size: 11px !important;
}

.ppma-author-boxes-editor-table .field-description {
    color: gray;
}

.ppma-author-boxes-editor-table .author-boxes-field-icon {
    display: grid;
    gap: 10px;
}

.ppma-author-boxes-editor-table .author-boxes-field-icon .remove-icon-button .button-secondary {
    color: red;
    border-color: red;
}

.ppma-author-boxes-editor-table .author-boxes-field-icon .selected-field-icon {
    margin: auto;
}

.post-type-ppma_boxes #slugdiv.postbox,
.post-type-ppma_boxes label[for="slugdiv-hide"]  {
    display: none !important;
}

.publishpress-author-box-editor {
    display: flex;
    background: #fff;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs {
    min-width: 250px;
    margin: 0;
    line-height: 1em;
    padding: 0 0 10px;
    position: relative;
    background-color: #fafafa;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}

.ppma-author-box-editor-fields {
    width: 100%;
    min-width: 320px;
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
}

.ppma-boxes-editor-tab-content ul.template-generator-instruction {
    margin-top: 0;
    margin-left: 25px;
    list-style: decimal;
}

.ppma-boxes-editor-tab-content ul.template-generator-instruction li {
    list-style: decimal;
}

.ppma-boxes-editor-tab-content .generate-template-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}

.ppma-boxes-editor-tab-content .author-editor-loading-spinner {
    float: none;
    margin-left: 0;
}

.ppma-editor-copied-to-clipboard,
.ppma-editor-data-imported,
.ppma-editor-template-generated {
    color: green;
    display: none;
}

.ppma-boxes-editor-tab-content.ppma-export-tab .title,
.ppma-boxes-editor-tab-content.ppma-shortcodes-tab .title,
.ppma-boxes-editor-tab-content.ppma-import-tab .title,
.ppma-boxes-editor-tab-content.ppma-editor-template_action .title {
    margin-left: 0 !important;
    padding-left: 0 !important;
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    line-height: 1.3;
    font-weight: 600;
    color: #1d2327;
}

.ppma-boxes-shortcodes-wrap .shortcode-entries table.shortcode-table {
    padding: 5px;
}

.ppma-boxes-shortcodes-wrap .shortcode-entries table.shortcode-table select {
    width: 100%;
    height: 45px;
    margin-top: -3px;
}

.ppma-boxes-shortcodes-wrap .shortcode-entries table.shortcode-table th.action {
    width: 12%;
}

.ppma-boxes-shortcodes-wrap .shortcode-entries table.shortcode-table th,
.ppma-boxes-shortcodes-wrap .shortcode-entries table.shortcode-table td {
    padding: 6px 1px 4px 1px;
}

.ppma-boxes-shortcodes-wrap .shortcode-entries table.shortcode-table tr:not(:first-child) td {
    padding: 6px 1px 4px 5px;
}

.ppma-boxes-shortcodes-wrap .shortcode-entries table.shortcode-table tr:not(:first-child) td {
    border-top: 1px solid #c3c4c7;
    border-right: 1px solid #c3c4c7;
}

.ppma-boxes-shortcodes-wrap .shortcode-entries table.shortcode-table tr:not(:first-child) td:first-child {
    border-left: 1px solid #c3c4c7;
}

.ppma-boxes-shortcodes-wrap .shortcode-entries table.shortcode-table tr:last-child:not(.shortcode-form) td {
    border-bottom: 1px solid #c3c4c7;
}

.ppma-boxes-shortcodes-wrap .shortcode-entries .delete-shortcode {
    color: #f54d4d;
    cursor: pointer;
}

.ppma-boxes-editor-tab-content.ppma-profile_fields-tab.profile_header .input {
    padding-left: 0;
}

.ppma-editor-profile-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    border-bottom: 1px solid #c3c4c7;
    padding: 0;
    cursor: pointer;
}

.ppma-editor-profile-header-title.closed .toggle-indicator::before {
    content: "\f140";
}

.ppma-editor-profile-header-title .title-toggle button {
    border: none !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul {
    padding-top: 0;
    margin-top: 0;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul li a {
    margin: 0;
    padding: 10px;
    display: block;
    box-shadow: none;
    text-decoration: none;
    line-height: 20px !important;
    border-bottom: 1px solid #eee;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul li {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul li a.active {
    color: #555;
    position: relative;
    background-color: #eee;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul li a span {
    margin-right: 0.618em;
}

.publishpress-author-box-editor .ppma-author-box-editor-tabs ul li a span.dashicons {
    margin-left: 0;
    font-size: 15px;
    vertical-align: sub;
}

.publishpress-author-box-editor .preview-section {
    width: 100%;
}

#ppma_boxes_shortcode textarea {
    resize: none;
    width: 100%;
}
.editor-preview-author {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.editor-preview-author .ppma_select2-container {
    max-width: 250px !important;
    min-width: 250px !important;
}

.editor-preview-author .editor-preview-author-label {
    margin-right: 7px;
}

.editor-preview-author-users .ppma_select2-container {
    width: max-content !important;
    min-width: 100px;
    max-width: 700px;
}

.editor-preview-author-users .ppma_select2-container--default .ppma_select2-selection--multiple {
    height: 0 !important;
}

.editor-preview-author-users .ppma_select2-container--default .ppma_select2-selection--multiple .ppma_select2-selection__clear {
    display: none;
}

.ppma-editor-field-reorder-btn {
    cursor: pointer;
    color: #655997;
    margin-bottom: 10px;
    text-align: right;
}

.ppma-editor-field-reorder-btn .dashicons {
    font-size: large;
}

.ppma-thickbox-modal-content .ppma-editor-order-form p {
    text-align: left;
}

.ppma-re-order-lists .field-sort-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    border-bottom: 1px solid #c3c4c7;
    padding: 0;
    cursor: pointer;
    margin-bottom: 9px;
    line-height: 1.3;
    vertical-align: middle;
    cursor: move;
}

.ppma-re-order-lists .field-sort-item h2 {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    font-weight: 400;
}

.ppma-editor-order-form .submit-wrapper {
    display: flex;
    justify-content: space-between;
}

.ppma-order-response-message {
    text-align: left;
    margin-top: 10px;
}

.ppma-order-response-message .success {
    color: green;
}

.ppma-order-response-message .error {
    color: red;
}

.ppma-editor-order-form .spinner:not(.is-active) {
    display: none;
}

.ppma-author-boxes-editor-table .ppma-boxes-editor-tab-content.code_editor .code-editor-label {
    font-weight: 600;
}

.ppma-author-boxes-editor-table .code-mirror-before {
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f7f7f7;
    margin-top: 10px;
  }
  
  .ppma-author-boxes-editor-table .code-mirror-before div {
    color: #8F8F8F;
    margin-left: 54.35px;
    border-left: 1px solid #ddd;
    padding: 3px 8px;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .ppma-author-boxes-editor-table .code-mirror-after {
    border: 1px solid #ddd;
    border-top: none;
    background-color: #f7f7f7;
  }
  .ppma-author-boxes-editor-table .code-mirror-after div {
    color: #8F8F8F;
    margin-left: 54.35px;
    border-left: 1px solid #ddd;
    padding: 3px 8px;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .ppma-author-boxes-editor-table .CodeMirror { 
    margin-top: 0px; 
    border: 1px solid #ddd; 
    border-bottom: none; 
    border-top: none;
  }
  
  .ppma-author-boxes-editor-table .CodeMirror pre {
    padding-left: 7px;
    line-height: 1.25;
  }

@media only screen and (max-width: 1270px) {
    .ppma-author-boxes-editor-table input[type=text],
    .ppma-author-boxes-editor-table input[type=number],
    .ppma-author-boxes-editor-table select{
        width: 95%;
    }
    .ppma-author-box-editor-fields {
        min-width: unset;
    }
}


@media only screen and (max-width: 1100px) {
    .ppma-author-box-editor-fields {
        min-width: unset;
    }
    .ppma-author-boxes-editor-table input[type=text],
    .ppma-author-boxes-editor-table input[type=number],
    .ppma-author-boxes-editor-table select,
    .ppma-author-boxes-editor-table textarea,
    .ppma-boxes-editor-tab-content.ppma-profile_fields-tab.profile_header .input {
        max-width: 95% !important;
        width: 95% !important;
    }
    .publishpress-author-box-editor {
        display: block;
     }
}

@media screen and (max-width: 768px) {
    .publishpress-author-box-editor {
       display: block;
    }
}