{% extends "widget-form.twig" %}
{% block other_options %}
<p>
    <input class="checkbox" id="{{ esc_attr( ids.show_empty ) }}" name="{{ esc_attr( names.show_empty ) }}" type="checkbox"
        {% if values.show_empty %} checked {% endif %}
    />
    <label for="{{ esc_attr( ids.show_empty ) }}">{{ labels.show_empty }}</label>
</p>
{% endblock %}

{% block plural_field %}
{% endblock %}
